html,body{
  padding:0;
  margin:0;
}
.App {
  margin: 0 auto;
}
.main_logo{
  margin: 0 auto;
  max-width: 230px;
  

}
.main_header{
  margin: 20px auto;
  color: #1D8895;
}
.logo_container{
  margin: 3rem auto;
  width: 30%;
  text-align:center;
}
.input_message{
  color: rgb(216, 0, 115);
}
.login_input_container{
  width:30%;
  margin: 1rem auto;
  padding:0;
}
.signup_input_container{
  width:30%;
  margin: 1rem;
  padding:0;
}
.login_input{
  margin: 10px auto;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  color: #1D8895;
}

.login_input:focus{
  outline: none;
}
.submit_button{
  padding: 10px 4rem;
  background-color:white;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  color: #1D8895;
  margin: 20px auto;
 
  font-weight: bold;
  
}
.submit_button:hover{
  background-color: #1D8895;
  color: white;
}

.input_label{
  margin:2px;
  text-align: left;
  color: #ccc;
 
}

.user_span{
  font-weight: bold;
  color:gold;
  margin: 0 10px;
  text-transform: capitalize;
}

.logout_span{
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #164d52;
}
.logout_span:hover{
  background-color: #404040;
  
  cursor: pointer;
}

.new_user{
  display:none;
}
.new_user_block{
  display:block;
}

.role_select{
  width: 60%;
  border-radius: 15px;
  padding: 1rem;
  background: white;
  margin: 10px 0;
  border: 1px solid #ccc;
  color: #404040;
}
.role_select:focus{
  outline:none;
}